$background-color: #F6F6F6;
$main-color: #FF6060;

li {
    list-style: none;
}

.containerCollapse {
        width: 45%;

        @media (max-width: 700px) {
            width: 100%;
        }
    &__topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $main-color;
        border-radius: 10px;
        color: white;
        font-weight: 700;
        font-size: 18px;
        padding: 0 20px;

        @media (max-width: 700px) {
            font-size: 15px;
        }

        @media (max-width: 500px) {
            font-size: 13px;
        }

        button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            outline: none;
                }

        p {
            color: white;

            @media (max-width: 500px) {
                margin: 10px 0px;
            }
        }
    }
}

.rotate {
    transform: rotate(-180deg);
    transition: transform 0.5s ease-in-out;
}

.rotateInverse  {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}


.toggleDescription {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out, padding 0.5s ease-in-out;

    p {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.toggleDescription.visible {
    opacity: 1;  
    background-color: $background-color;
    position: relative;
    bottom: 8px;
    padding: 25px;
    z-index: -1;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    @media (max-width: 500px) {
        padding: 20px;
    }

    p {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;

        @media (max-width: 700px) {
            font-size: 16px;
        }

        @media (max-width: 500px) {
            font-size: 12px;
        }
        }

    ul {
        font-size: 18px;
        padding: 0;
        margin: 0;

        @media (max-width: 700px) {
            font-size: 16px;
        }

        @media (max-width: 500px) {
            font-size: 12px;
        }
        }
    }

    
.toggleDescription.hidden {
    opacity: 0;
    visibility: hidden;

}

.toggleDescription.aboutContent.visible {
    padding: 26px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    @media (max-width: 500px) {
        font-size: 12px;
        padding: 20px;
    }
}

.toggleDescription.styleAbout.hidden {
    opacity: 0;
    visibility: hidden;
}

.containerCollapse.styleAbout {
        width: 70%;

        @media (max-width: 1024px) {
            width: 80%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
}