$font: 'Montserrat', sans-serif;

footer {
    margin: 0;
    background-color: black;
    padding: 60px;
    font-family: $font;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 425px) {
        gap: 20px;
    }

    img {
        width: 120px;

        @media (max-width: 425px) {
            height: 39px;
        }
    }

    p {
        color: white;
        font-size: 24px;
        margin: 0;

        @media (max-width: 425px) {
            font-size: 12px;
        }
    }
}