$font: 'Montserrat', sans-serif;

.container {
    display: flex;
    justify-content: center;
    margin: 0px 0px 50px 0px;
    font-family: $font;

    @media (max-width: 752px) {
        padding: 20px 50px; }

    @media (max-width: 547px) {
        padding: 15px;}

    &__items {
        width: 100%;
        position: relative;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;

    &--text {
        position: absolute;
        color: white;
        font-size: 48px;
        padding: 50px;

        @media (max-width: 752px) {
            font-size: 35px;
            padding: 20px;
            font-weight: 500;}

        @media (max-width: 547px) {
            font-size: 24px;
            font-weight: 700;
        }
    }
}}

.br {
    display: none;

    @media (max-width: 375px) {
        display: flex;
    }
}